# Node modules and dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build files
/build/
*.log

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock
